header {
    position: fixed;
    background: rgb(23, 23, 23);
    left:0;
    right:0;
    z-index: 2;
    border-bottom: 1px solid rgb(36, 36, 36);
}

.headerContainer {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav {
    display: flex;
    right: 0;
}

i {
    color: white;
    font-size: 1em;
}

nav ul {
    margin:  0;
}

nav ul li {
    display: inline-block;
    padding: 0 2em 0 0;
}

#toggleCartButton > button{
    background-color: transparent;
    font-size: 1.4em;
    border-radius: 4px;
    cursor: pointer;
    padding: 0;
    color: white;
    font-weight: bold;
    margin: 0;
}

#cartAmount {
    color: white;
    background-color: #E08A1E;
    padding: .2em;
    border-radius: 50% 50%;
    font-size: .8em;
    top: 18px;
    margin-left: 14px;
    text-align: center;
    position: absolute;
    width:20px;
    height: 20px;
    /* margin-left: .4em; */
    font-family: 'Open Sans', sans-serif;
}

#toggleCartButton:hover #cart{
    /* display: block; */
    visibility: visible;
}

#cart {
    /* display: none; */
    visibility: hidden;
    background-color: white;
    color: black;
    position: fixed;
    z-index: 2;
    top: 60px;
    right: 10%;
    padding: .2em 1em;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 4px;
    min-width: 350px;
    max-width: 350px;
}

header a{
    color: white;
}

/* li p a button {
    color:white;
} */

.logo p {
    margin-top: .6em;
    font-family: 'Inconsolata', monospace;
    /* font-weight: bold; */
    font-size: 1.6em;
}

#cart.showCart{
    visibility: visible;
}

#cart .hideCart {
    visibility: hidden !important;
}

@media screen and (max-width: 900px) {
    header {
        /* width: 96%;
        margin: 0 auto; */
        position: inherit;
    }
    .headerContainer {
        width: 90%;
        /* min-width: 475px;
        overflow: hidden; */
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        font-size: .8em;
    }

    .logo {
        flex: 100%;
        text-align: center;
    }

    nav {
        flex: 100%;
    }

    ul {
        padding: 0;
        text-align: center;
        flex: 100%;
        margin: 0 auto;
    }

    #cartAmount {
        color: white;
        background-color: #E08A1E;
        padding: .2em;
        border-radius: 50% 50%;
        font-size: .8em;
        top: 90px;
        margin-left: 12px;
        text-align: center;
        position: absolute;
        width:20px;
        height: 20px;
        /* margin-left: .4em; */
        font-family: 'Open Sans', sans-serif;
    }

  }
