<header>
  <div class="headerContainer">
    <div class="logo">
      <p><a routerLink="/">Angular movies</a></p>
      <base>
    </div>
    <nav>
      <ul>
        <li>
          <app-search></app-search>
        </li>
        <li>
          <p><a routerLink="/admin">Admin</a></p>
        </li>
        <li id="toggleCartButton">
            <span id="cartAmount">{{ numberOfCartItems }}</span><button (click)="toggleCart()"><i class="fas fa-shopping-cart"></i></button>
          <div id="cart">
            <app-show-cart></app-show-cart>
          </div>
        </li>
        <li>
         <p><button class="buttonBorder"><a routerLink="/checkout">Checkout <i class="fas fa-angle-right"></i></a></button></p>
        </li>
      </ul>
    </nav>
  </div>

</header>