header {
    display: flex;
    justify-content: space-around;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 2;
    top: 0;
    background: rgb(34, 34, 34);
}

nav ul li {
    display: inline-block;
    padding: 1em .6em 0 .6em;
}

button {
    background-color: orange;
    border: none;
    color: black;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
}

header a{
    color: white;
}