.order {
    color:black;

    width: 40%;
    margin: 20vh auto 0 auto;


    display: flex;
    border-radius: 4px;
    justify-content: space-between;
}

.totalPrice {
    background: white;
    margin: 0 1em;
    padding: 2em;
}

.orderItems {
    background: white;
    padding: 2em;
}





form {
    width: 100%;

}

input {
    width: 100%;
    margin: 1em 0;
    padding: 8px 0;
    border-radius: 2px;
    border: 1px solid gray;
}

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }