<div class="order">

  <h2>Order</h2>

  <ul *ngFor="let item of cartItems">
    <li>
      <p>{{ item.movie.name }} x {{ item.amount }}</p>
      <p>Price: {{ item.totalprice }}:-</p>
    </li>
  </ul>

  <h3><b>Total price of order: {{ totalCartPrice }}:- </b></h3>

  <form [formGroup]="profileForm">
    <label for="name">
      Name:
      <input type="text" formControlName="name" id="name">
    </label>

    <label for="email">
      Email:
      <input type="text" formControlName="email" required #email id="email">
    </label>

    <label for="phone">
      Phone:
      <input type="text" formControlName="phone" id="phone">
    </label>

    <label for="address">
      Address:
      <input type="text" formControlName="address" id="address">
    </label>


    <button (click)="submitOrder(totalCartPrice, email.value)" type="submit" [disabled]="!profileForm.valid">Order</button>

  </form>



  <div *ngFor="let price of totalPrice">
    {{ price }}
  </div>

</div>