<div class="order">

  <div class="orderItems">

    <h2>Order</h2>

    <div *ngFor="let item of cartItems" class="checkoutItemContainer">

      <div class="checkoutItemImg">
        <a [routerLink]="['/movies', item.movie.id]">
          <img src="{{ item.movie.imageUrl }}">
        </a>
      </div>

      <div class="checkoutInfoContainer">
        <div class="checkoutInfo">
          <a [routerLink]="['/movies', item.movie.id]">
            <p>{{ item.movie.name }}</p>
          </a>
          <p>{{ item.movie.description }}</p>
        </div>

        <div class="adjustAmountCheckoutContainer">
          <p>Amount: {{ item.amount}}</p>
          <div class="adjustAmoutCheckoutButtons">
            <button (click)="addMovieToCart(item.movie)" class="adjustAmountCheckout">
              <i class="fas fa-plus-circle"></i>
            </button>
            <button (click)="removeFromCart(item.movie)" class="adjustAmountCheckout removeCheckoutItemAmount">
              <i class="fas fa-minus-circle"></i>
            </button>
          </div>

          <p><b> {{ item.totalprice }} kr</b></p>
        </div>
      </div>

    </div>



  </div>

  <div class="totalPrice">
      <form [formGroup]="profileForm">
          <label for="name">
            Name:
            <input type="text" formControlName="name" id="name">
          </label>
    
          <label for="email">
            Email:
            <input type="text" formControlName="email" required #email id="email">
          </label>
    
          <label for="phone">
            Phone:
            <input type="text" formControlName="phone" id="phone">
          </label>
    
          <label for="address">
            Address:
            <input type="text" formControlName="address" id="address">
          </label>
    
    
          <button (click)="submitOrder(totalCartPrice, email.value)" type="submit"
            [disabled]="!profileForm.valid">Order</button>
    
        </form>
    <h3>Total price</h3>
    <p><b>{{ totalCartPrice }}kr </b></p>
  </div>

</div>