/* .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 6vh auto;
} */

.categoryContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
    margin: 6vh auto;
}

.filter {
    color:white;
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 6vh auto 0 auto;
}

button {
    margin-top: 20vh;
}


form {
    margin-top: 20vh;
}