<app-banner></app-banner>

<div class="container">
    <h2 style="color:white;">{{ categories[0].name }} </h2>
    <div class="categoryContainer">
        <app-product-presentation [movie]="movie" *ngFor="let movie of actionMovies">
        </app-product-presentation>
    </div>

    <h2 style="color:white;">{{ categories[1].name}} </h2>
    <div class="categoryContainer">
        <app-product-presentation [movie]="movie" *ngFor="let movie of thrillerMovies">
        </app-product-presentation>
    </div>

    <h2 style="color:white;">{{ categories[2].name}} </h2>
    <div class="categoryContainer">
        <app-product-presentation [movie]="movie" *ngFor="let movie of comedyMovies">
        </app-product-presentation>
    </div>

    <h2 style="color:white;">{{ categories[3].name}} </h2>
    <div class="categoryContainer">
        <app-product-presentation [movie]="movie" *ngFor="let movie of sciFiMovies">
        </app-product-presentation>
    </div>
    
</div>