.cartItemImg img{
    width: 80px;
}


.cartItem {
    border-bottom: 1px solid rgb(206, 206, 206);
    min-width: 350px;
    padding: 1em 0;
    display: flex;

}

.totalPriceInCart {
    /* padding: .4em 0; */
    font-size: 1.1em;
}

.emptyCartContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid gray;
}

.emptyCartbtn {
    cursor: pointer;
    color:red;
    text-decoration: underline;
}
.cartItemContainer {
    overflow-y: scroll;
    max-height: 400px;

}

.cartItem p {
    margin: .6em 0;
}

.cartItemInfo {
    padding-top: .8em 0;
}

.cartItemInfoContainer {

    padding: 0 1em;
}

#pay {
    width: 100%;
    margin: 1em auto;
    color: white;
}

