<div id="cartContainer">
   <div class="emptyCartContainer" id="cartBtn">
      <h2>Cart ({{ numberOfCartItems }}) items </h2>
      <a href=""> <p (click)="emptyCart()" class="emptyCartbtn" >Empty cart <i class="fas fa-trash"></i></p></a>
   </div>

   <div class="cartItemContainer">

      <div *ngFor="let cartItem of cartItems" class="cartItem">
         <div class="cartItemImg">
            <a [routerLink]="['/movies', cartItem.movie.id]">
               <img src="{{ cartItem.movie.imageUrl }}">
            </a>
         </div>

         <div class="cartItemInfoContainer">
            <div class="cartItemInfo">
               <a [routerLink]="['/movies', cartItem.movie.id]">
                  <p> {{ cartItem.movie.name }} </p>
               </a>
               <p><b>{{ cartItem.totalprice }} kr </b></p>
            </div>

            <div class="adjustAmountCartContainer">
               <p>Amount: {{ cartItem.amount}}
                  <button (click)="addMovieInCart(cartItem.movie)" class="adjustAmountCart">
                     <i class="fas fa-plus-circle"></i>
                  </button>
                  <button (click)="removeFromCart(cartItem.movie)" class="adjustAmountCart removeCartItemAmount">
                     <i class="fas fa-minus-circle"></i>
                  </button>
               </p>
            </div>
         </div>
      </div>

   </div>

   <p><b>Total price: {{ totalCartPrice }} kr</b></p>
   <a routerLink="/checkout">
      <button id="pay">Checkout <i class="fas fa-angle-right"></i></button>
   </a>
</div>

<!-- <app-cart-presentation [cartItem]="cartItem" *ngFor="let cartItem of cartItems"></app-cart-presentation> -->