<div class="product">
  <p *ngFor="let cartItem of cart">{{ cartItem }}</p>
  <a [routerLink]="['/movies', movie.id]"><img src="{{ movie.imageUrl }}" style="width:200px;height:300px"></a>
  <div class="productInfo">
    <!-- <p>Category : <span *ngFor="let category of movie.productCategory"> {{ category.categoryId }}</span></p> -->
    <!-- <p>{{ categoryID.name }}</p> -->
    <p>{{ movie.price }} :-</p>
    <p> {{ movieCategoryFinal }}</p>

      <!-- <form action="">
      <input type="number" #productAmount />
      <button value="Add to cart" (click)="addToCart({ movie.name })">Add to cart</button>
      <button (click)="addToCart();">Add to cart</button>
      , amount: productAmount.value, id: movie.id, price: movie.price}
        amount: productAmout.value, name: movie.name, price:movie.price
      productAmount.value = ''; 
      <button (click)="sendMessage()">Send message</button>
    </form> -->

      <form action="">
        <!-- <select name="amountSelect" #productAmount>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> -->
        <button (click)="addMovieToCart(movie)">Add to cart</button>
      </form>
  </div>
</div>