<div class="product">
  <p *ngFor="let cartItem of cart">{{ cartItem }}</p>
  <a [routerLink]="['/movies', movie.id]"><img src="{{ movie.imageUrl }}" style="width:200px;height:300px"></a>
  <div class="productInfo">
    <!-- <p>Category : <span *ngFor="let category of movie.productCategory"> {{ category.categoryId }}</span></p> -->
    <!-- <p>{{ categoryID.name }}</p> -->
    <p>{{ movie.price }} :-</p>
      <form action="">
        <button (click)="addMovieToCart(movie)">Add to cart</button>
      </form>
  </div>
</div>