.product {
    flex: 1;
    margin: 0 .2em;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product img {
    object-fit: cover;
    cursor: pointer;
    transition: transform .1s;
}

.productInfo {
    padding:  0;
    text-align: center;
    color: white;
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    font-weight: bolder;
    background-color:rgb(18, 18, 18, .9);
    margin: 0;
}

.productInfo a {
    color:white;
}

.product button {
    margin-left: .6em;
}

form {
    display: flex;
}

.product:hover .productInfo {
    display: block; 
}

.showCart {
    display: block !important;
}

i {
    color:white;
}