<div class="product">
  <a [routerLink]="['/movies', movie.id]"><img src="{{ movie.imageUrl }}" style="height:350px;"></a>
  <div class="productInfo">
    <!-- <p>Category : <span *ngFor="let category of movie.productCategory"> {{ category.categoryId }}</span></p> -->
    <!-- <p>{{ categoryID.name }}</p> -->
    <p>{{ movie.price }} kr
        <button (click)="addMovieToCart(movie)" class="addToCartBtn"><i class="fas fa-plus"></i></button>

        <button class="addToCartBtn"><a [routerLink]="['/movies', movie.id]"><i class="fas fa-angle-right"></i></a></button></p>
  </div>
</div>