.product {
    /* width: 400px; */
    /* background: rgb(33, 33, 33); */
    flex: 1;
    margin: 0 .4em;
    padding: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product img {
    object-fit: cover;
    cursor: pointer;
    transition: transform .1s;
}

.productInfo {
    padding:  0;
    text-align: center;
    color: white;
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    /* background: rgb(18, 18, 18, 0.8); */
    /* background-image: linear-gradient(transparent, rgb(18, 18, 18)); */
}

form {
    display: flex;
}

.product:hover img {
    transform: scale(1.1);
}

.product:hover .productInfo {
    display: block;
    
}

.showCart {
    display: block !important;
}

p {
    color: white;
    font-weight: bolder;
    /* background-image: linear-gradient(transparent, rgb(18, 18, 18)); */
    background-image: linear-gradient(transparent, rgb(21, 21, 21)  , rgb(18, 18, 18));
    margin: 0;
    padding: 1em;
}

button {
    background: rgb(16, 16, 16, 0.8);
    border-radius: 50% 50%;
    border: 1px solid white;
    color:white;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    padding: .8em;
    transition: .1s;
}

button:hover {
    background: white;
    color: black;
    opacity: 1;
}

button:hover i {
    color: black;
}

i {
    color:white;
}