.singleProduct {
    color: white;
    width: 70%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 16vh;
}


.singleProductInfo {
    padding: 2em;
    flex: 1;
}


.singleProductImg {
    height: 80vh;
    flex: 1;
}


.singleProductImg img {
    height: 100%;
}

.addToCartBtn {
    background: rgba(40, 40, 40, 0.8);
    border-radius: 50% 50%;
    border: 1px solid white;
    color:white;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    padding: .8em;
    transition: .1s;
    margin-left: 1em;
}

.addToCartBtn:hover {
    background: white;
    color: black;
    opacity: 1;
}

.addToCartBtn:hover i {
    color: black;
}

i {
    color:white;
}