<div class="singleProduct">
    <div class="singleProductImg">
        <img src="{{ movie.imageUrl }}">
    </div>
    <div class="singleProductInfo">
        <h2>{{ movie.name }}</h2>
        <p>{{ movie.description }}</p>
        <p>{{ movie.price }} :-
            <!-- <form action="">
            <input type="number" #productAmount />
            <button value="Add to cart" (click)="addToCart({ movie.name })">Add to cart</button>
            <button (click)="addToCart();">Add to cart</button>
            , amount: productAmount.value, id: movie.id, price: movie.price}
              amount: productAmout.value, name: movie.name, price:movie.price
            productAmount.value = ''; 
            <button (click)="sendMessage()">Send message</button>
          </form> -->
            <button>Add to cart</button></p>
    </div>
</div>

<!-- <p>{{ movie.name }}</p> -->