.singleProduct {
    color: white;
    /* width: 75%; */
    margin: 0 auto 0 auto;
    display: flex;
    padding-top: 16vh;
}


.singleProductInfo {
    padding: 2em;
    flex: 1;
}


.singleProductImg {
    height: 80vh;
    flex: 1;
}


.singleProductImg img {
    height: 100%;
}


.singleProductInfo button {
    margin-left: 1em;
    background-color: orange;
    border: none;
    color: black;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
}