<div class="orderContainer">
  <h1>({{ numberOfOrders }}) Orders</h1>
  <div class="orderItemContainer">
    <ul>
      <li *ngFor="let order of orders" class="order">
        <p><i class="fas fa-user"></i> {{ order.createdBy }} <i class="fas fa-clock"></i> {{ order.created }} {{ order.paymentMethod }}</p>
        <div *ngFor="let orderrow of order.orderRows">
          <p>Product ID: {{ orderrow.productId }} * {{ orderrow.amount }} st</p>
        </div>
        <p>Total price: <b>{{ order.totalPrice}} :-</b></p>
      </li>
    </ul>
  </div>
</div>