<div class="orderContainer">
  <h1>{{ numberOfOrders }} Order(s)</h1>

  <button (click)="emptyAllOrders(orders)">Remove order</button>

  
  <div class="orderItemContainer">

    <div *ngFor="let extOrder of extendedOrder" class="order">


      <p>
        <i class="fas fa-user"></i> {{ extOrder.order.createdBy }}
        <i class="fas fa-clock"></i> {{ extOrder.order.created }},
        Payment method: {{ extOrder.order.paymentMethod }}
      </p>

      <div *ngFor="let orderrow of extOrder.order.orderRows">
        
          <p>Product ID: {{ orderrow.productId }} * {{ orderrow.amount }} st</p>
      </div>
      <div *ngFor="let item of extOrder.movieName">
        <p>{{ item }}</p>
      </div>

      <p>Total price: <b>{{ extOrder.order.totalPrice}} :-</b></p>

      <button (click)="emptyOrder(extOrder.order.id)">Remove order</button>

    </div>
  </div>
</div>