/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    background-color: rgb(18, 18, 18);
    
}


button {
    margin-left: 1em;
    background-color: rgb(227, 148, 1);
    border: none;
    color: black;
    padding: 1em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

a:link, a:visited {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}

.logo {
    font-size: 1.4em;
    font-family: 'Inconsolata', monospace;
}
