/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    background-color: rgb(18, 18, 18);
    
}

button {
    background-color: rgb(65, 65, 65);
    /* border: 1px solid white; */
    border: none;
    color: white;
    padding: 1em;
    font-size: .9em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: all .1s;
    border-radius: 4px;
}

button:hover {
    background: white;
    color: rgb(29, 29, 29);
}

button:hover i {
    color: rgb(29, 29, 29);
}

/* button {
    background-color: #E08A1E;
    border: none;
    color: white;
    padding: 1em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: all .2s;
    border-radius: 2px;
}

button:hover {
    background-color:rgb(157, 102, 36);
    transform: scale(1.09); 
} */

.buttonInverted {
    background-color: #E08A1E;
    border: none;
    color: white;
    padding: 1em;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    transition: all .1s;
    border-radius: 4px;
}

.buttonInverted:hover {
    background-color:#b64541;
}

.addToCartBtn {
    background: rgba(40, 40, 40, 0.8);
    border-radius: 50% 50%;
    color:white;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    padding: .8em;
    margin-left: 1em;
}

.addToCartBtn:hover {
    background: white;
    color: black;
    opacity: 1;
}

.addToCartBtn:hover i {
    color: black;
}

.addToCartBtnInverted {
    background: transparent;
    border-radius: 50% 50%;
    border: 1px solid black;
    color:black;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    padding: .8em;
    transition: .1s;
    margin-left: 1em;
}

.addToCartBtnInverted:hover {
    background: black;
    color: white;
    opacity: 1;
}

.addToCartBtnInverted:hover i {
    color: white;
}

.adjustAmountCart{
    border: none;
    background: transparent;
    font-size: 1.2em;
    padding: 0;
    color: black;
    margin-left: 1em;
}



p {
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
}

a:link, a:visited {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Inconsolata', monospace;
}

.logo {
    font-size: 1.4em;
    font-family: 'Inconsolata', monospace;
}

a:hover {
    text-decoration: underline;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}
