/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    background-color: black;
}


button {
    margin-left: 1em;
    background-color: orange;
    border: none;
    color: black;
    padding: 1em;
    border-radius: 4px;
    cursor: pointer;
}