#search {
    background: transparent;
    color: white;
    font-size: 1.4em;
    
}
input {
    padding: 7px;
    border: none;
}

#searchItem {
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}

.searchItemImg {
    margin: 1em 1em 1em 0;
    
}

#closeSearch {
    background: transparent;
    border: none;
    color: black;
    font-size: 1.5em;
    padding: 0;
}

.searchResultTop {
    display: flex;
    justify-content: space-between;
}

#searchResult {
    display: none;
    z-index: 2;
    background: white;
    width: 600px;
    position: absolute;
    color:  black;
    padding: 1.2em;
    overflow-y: scroll;
    max-height: 600px; 
}

.showSearchResult {
    display: block !important;
}

.hideResults {
    display: none;
}

.addToCartBtn {
    /* background: rgba(0, 0, 0, 0.8); */
    background-color: transparent;
    border-radius: 50% 50%;
    border: 1px solid black;
    color:black;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    padding: .8em;
    transition: .1s;
    margin-left: 1em;
}