<div id="searchFieldContainer">
  <input id="searchInput" type="text" #movieSearch (keyup)="search(movieSearch.value)" placeholder="Search" />
  <button id="search" (click)="search(movieSearch.value)">
    <i class="fas fa-search"></i>
  </button>
</div>

<div id="searchResult" (clickOutside)="onClickedOutside($event)">
  <div class="searchResultTop">
    <h2>{{ numberOfSearchResults }} result(s) of search "{{ searchTerm }}"</h2>
    <button id="closeSearch" (click)="closeSearch()"><i class="far fa-times-circle"></i></button>
  </div>
  <div class="searchItemContainer">
    <div *ngFor="let item of movies" id="searchItem">
      <div class="searchItemImg">
        <a [routerLink]="['/movies', item.id]"><img src="{{ item.imageUrl }}" width="80px"></a>
      </div>
      <div class="searchItemInfo">
        <a [routerLink]="['/movies', item.id]">
          <p><b>{{ item.name }}</b></p>
        </a>
        <p>{{ item.description }}</p>
      </div>
    </div>


  </div>
</div>