#search {
    background: transparent;
    color: white;
    font-size: 1.4em;
}
input {
    padding: 7px;

    border: none;
}

#searchResult {
    display: none;
    z-index: 2;
    background: white;
    width: 300px;
    position: absolute;
    color:  black;
    padding: 1em;
    overflow-y: scroll;
    min-height: 600px; 
}

.showSearchResult {
    display: block !important;
}

.hideResults {
    display: none;
}