#search {
    background: transparent;
    color: orange;
    font-size: 1em;
}

#searchResult {
    z-index: 2;
    background: white;
    width: 300px;
    position: absolute;
    color:  black;
    padding: 1em;
    overflow-y: scroll;
    min-height: 600px; 
}

.showSearchResult {
    display: block;
}